<body class="background">

   
    <img src="assets/images/TITLEE.svg" alt="SVG Image" class="imagef1">
    <div class="container">
        <div class="list">
          <ul>
            <li class="font1">Les Cafés</li>
           
          </ul>
        </div>
        <div class="image">
          <img src="assets/images/cafe3.svg" alt="SVG Image" class="cafeephoto" />
        </div>
      </div>

      <div class="container">
        <div class="list">
          <ul>
            <li class="font1">Les Cafés</li>
           
          </ul>
        </div>
        <div class="image">
          <img src="assets/images/Beautiful-Cocktail-coloring-page.svg" alt="SVG Image" class="cafeephoto" />
        </div>
      </div>
      
     
</body>