<body class="background">

   
    <img src="assets/images/TITLEE.svg" alt="SVG Image" class="imagef1">
              <img src="assets/images/cafe3.svg" alt="SVG Image" class="cafeephoto" />

    <div class="container">
        <div class="list">
          <h3 class="categories"> Les cafes</h3>
                <hr style="border: 1px solid #000; width: 50%; margin: 20px auto;">

          <ul class="listkh">
            <li class="font1">expressss</li>
            <li class="font1">filtre</li>
            <li class="font1">cappusssin</li>

          </ul>
        </div>
        <div class="image">
          <!-- <img src="assets/images/cafe3.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
      </div>
      <!-- <hr style="border: 1px solid #000; width: 50%; margin: 20px auto;"> -->

      <div class="container">
        <div class="list">
          <h3 class="categories"> Les Coctail</h3>
          <ul>
            <li class="font1">Les Coctail</li>
           
          </ul>
        </div>
        <div class="image">
          <!-- <img src="assets/images/Beautiful-Cocktail-coloring-page.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
      </div>
      
     
</body>