<body class="background">

   



  
    <img src="assets/images/TITLEE.svg" alt="SVG Image" class="imagef1">
    <h3 class="cafecat"> Petit Dej</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>

    
    <div class="container">
     
      
          <ul class="list2">
            <li class="item"><span class="dess"> Express </span><span class="prix"> 1.800  Dt  </span></li>

            <li class="item"><span class="dess"> American </span><span class="prix"> 1.800  Dt  </span></li>
            <li class="item"><span class="dess">Capussin </span><span class="prix"> 8.000  Dt  </span></li>
            <li class="item"><span class="dess">Cafe creme </span><span class="prix"> 8.000  Dt  </span></li>
            <li class="item"><span class="dess">Cappuccino </span><span class="prix"> 8.000  Dt  </span></li>

            <li class="item"><span class="dess"> Cafe glace</span><span class="prix"> 1.800  Dt  </span></li>
            <li class="item"><span class="dess"> Cafe ligeois </span><span class="prix"> 1.800  Dt  </span></li>

           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>
    
    
    
    
    
    <h3 class="cafecat"> Les cafes</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item"><span class="dess"> Express </span><span class="prix"> 1.800  Dt  </span></li>

            <li class="item"><span class="dess"> American </span><span class="prix"> 1.800  Dt  </span></li>
            <li class="item"><span class="dess">Capussin </span><span class="prix"> 8.000  Dt  </span></li>
            <li class="item"><span class="dess">Cafe creme </span><span class="prix"> 8.000  Dt  </span></li>
            <li class="item"><span class="dess">Cappuccino </span><span class="prix"> 8.000  Dt  </span></li>

            <li class="item"><span class="dess"> Cafe glace</span><span class="prix"> 1.800  Dt  </span></li>
            <li class="item"><span class="dess"> Cafe ligeois </span><span class="prix"> 1.800  Dt  </span></li>

           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>
    
      <h3 class="cafecat"> Nespresso</h3>
      <div class="container">
        
          <ul ul class="list2">
            <li class="item"><span class="dess"> Express </span><span class="prix"> 1.800  Dt  </span></li>

            <li class="item"><span class="dess"> American </span><span class="prix"> 1.800  Dt  </span></li>

         
   
            <li class="item"><span class="dess">Cafe creme </span><span class="prix"> 8.000  Dt  </span></li>
            <li class="item"><span class="dess">Jombon , fromage </span><span class="prix"> 8.000  Dt  </span></li>
          </ul>
      
        <div class="image">
          <img src="assets/images/cafeeilustratuion2.svg" alt="SVG Image" class="cafeekas" />
        </div>

      </div>
      <h3 class="cafecat"> Chocolat Chaud</h3>
      <div class="container">
       
          
            <ul class="list2">
              <li class="font1">Chocolat Chaud</li>
              <li class="font1">Chocolat liegeois</li>
              <li class="font1">Chocolat Nutella</li>
              <li class="font1">Cafe creme</li>
              <li class="font1">Chocolat fruits secs</li>
             
             
            </ul>
          
         
          <div class="image">
            <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
          </div>
      </div>
      
     
</body>